@import url(common/reset.css);

table,
th,
td {
  border-collapse: collapse;
  padding: 7px 0;
  padding-left: 7px;
}

.left_con > table > thead > tr > th {
  font-size: 30px;
  color: #94af76;
}

.left_con > table > tbody > tr > td {
  font-size: 13px;
  color: #94af76;
  margin-right: 50px;
}
.left_con > table > tbody > tr > td > a {
  color: #94af76;
  font-weight: 500;
}

.left_con {
  display: flex;
}
.left_con > table {
  width: 100%;
}
.left_con > table > tbody {
  margin-top: 40px;
}

@media(max-width:947px){
  .left_con > table > tbody > tr > td {
    margin-right: 10px;
  }
}