@import url(common/reset.css);

.gallery {
  width: 100%;
  margin-top: 50px;

  height: auto;
  background-color: #424242;
}

.gallery_inr {
  width: 1240px;
  height: 250px;
  background-color: #6d6d6d;
  margin: 0 auto;
  border-radius: 20px;
  padding-top: 12px;
  box-sizing: border-box;
}

.gallery_title {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.gallery_title > h2 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.gallery_con {
  width: 100%;
  height: 100px;
  background-color: #6d6d6d;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.gallery_con > ul {
  width: 100%;
  height: auto;
  background-color: #6d6d6d;
  display: flex;
  justify-content: space-between;
  height: 140px;
}

.gallery_con > ul > li {
  width: 24%;
  height: auto;
  background-color: #6d6d6d;
}

.gallery_con > ul > li:nth-child(1) {
  background: url(../img/gallery1.jpg) no-repeat 50% / cover;
  border-radius: 20px 0 0 20px;
}

.gallery_con > ul > li:nth-child(2) {
  background: url(../img/gallery2.jpg) no-repeat 50% / cover;
}

.gallery_con > ul > li:nth-child(3) {
  background: url(../img/gallery3.jpg) no-repeat 50% / cover;
}

.gallery_con > ul > li:nth-child(4) {
  background: url(../img/gallery4.jpg) no-repeat 50% / cover;
  border-radius: 0 20px 20px 0;
}

.gallery_con > ul > li > img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery_con > span > a > img {
  position: relative;
  top: 55px;
}

.radious_sub {
  width: 100%;
  height: auto;
}

.radious_sub > ul {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40px;
}

.radious_sub > ul > li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 7px;
  background-color: #ffffff;
}

@media (max-width: 1240px) {
  .gallery_inr {
    width: 100%;
  }
}

@media (max-width: 760px) {
  .gallery_inr {
    width: 85%;
  }
  .gallery_con > span > a > img {
    display: none;
  }
  .radious_sub {
    display: none;
  }
  .gallery_con > ul > li {
    width: 120px;
  }
}
