<header>
  <div class="header">
    <!--top header-->
    <div class="top_header">
      <ul>
        <li><a href="/light-sign-in">로그인</a></li>
        <li>
          <a href="/light"><img src="img/dark_night-icon.png" alt="SUN" /></a>
        </li>
        <li>
          <a href="/night"><img src="img/dark_light-icon.png" alt="NIGHT" /></a>
        </li>
      </ul>
    </div>
    <div class="m_top_wrap">
      <div class="m_top_header">
        <aside><a href="#">서문 야시장</a></aside>
        <aside class="m_top_headerMenu">
          <article>MENU</article>
          <article class="sidebar">
            <ul>
              <li></li>
              <li></li>
            </ul>
          </article>
        </aside>
      </div>
    </div>
    <div class="m_thema">
      <a href="/night"><img src="img/dark_light-icon.png" alt="NIGHT" /></a>
    </div>

    <!--bottom header-->
    <div class="bottom_header">
      <div class="bottom_inr_header">
        <ul>
          <li class="menu"><a href="#">야시장 소개</a></li>
          <li class="menu"><a href="#">공지사항</a></li>
          <li class="menu"><a href="#">먹거리 살거리</a></li>
          <li>
            <a href="#">
              <h1>서문</h1>
              <h1>야시장</h1>
            </a>
          </li>
          <li class="menu"><a href="#">서문거리 예술문화</a></li>
          <li class="menu"><a href="#">참여 마당</a></li>
          <li class="menu"><a href="#">입점 신청</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
