<main>
  <div class="container">
    <div class="top_container">
      <div class="title">
        <p>오감만족! 육감충족! 밤의 즐거움이 한자리에!</p>
        <h2>서문시장 야시장과 함께하는 대구여행</h2>
      </div>
    </div>
    <!--middle container-->
    <div class="middle_container">
      <ul>
        <li><a href="#">야시장 안내</a></li>
        <li><a href="#">스마트 주문</a></li>
        <li><a href="#">야시장 투어 미션</a></li>
        <li><a href="#">볼거리</a></li>
      </ul>
    </div>

    <!--bottom container-->
    <div class="bottom_container">
      <h1>서문야시장은 지금...</h1>

      <div class="main_con">
        <div class="left_con">
          <table>
            <thead>
              <tr>
                <th colspan="2">공지사항</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">서문야시장 추석 일정 공지</a></td>
                <td><a href="#">22-09-08</a></td>
              </tr>
              <tr>
                <td><a href="#">9월5일 서문야시장 임시 휴장</a></td>
                <td><a href="#">22-09-05</a></td>
              </tr>
              <tr>
                <td><a href="#">서문야시장 푸드트럭 셀러 모집</a></td>
                <td><a href="#">22-08-08</a></td>
              </tr>
              <tr>
                <td><a href="#">서문야시장 임시 휴장 안내</a></td>
                <td><a href="#">22-07-18</a></td>
              </tr>
              <tr>
                <td><a href="#">서문 야시장 휴장 안내</a></td>
                <td><a href="#">22-07-06</a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="right_con">
          <div class="youtube">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/kJvhdrYDZ2o"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery">
      <div class="gallery_inr">
        <div class="gallery_title">
          <h2>서문야시장 사진첩</h2>
        </div>
        <div class="gallery_con">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="img/gallery1.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="img/gallery2.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="img/gallery8.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="img/gallery4.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="img/gallery5.png" alt="" /></div>
              <div class="swiper-slide"><img src="img/gallery6.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="img/gallery7.jpg" alt="" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
