<footer>
  <div class="footer">
    <div class="left_footer">
      <h1>서문</h1>
      <h1>야시장</h1>
    </div>
    <div class="middle_footer">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Notice</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="right_footer">
      <div class="right_footer_top">
        <ul>
          <li>
            <a href="#"><img src="img/map.png" alt="map" />대구 중구 큰장로26길 45</a>
          </li>
          <li>
            <a href="#"><img src="img/phone.png" alt=phone" />053-256-6341</a>
          </li>
        </ul>
      </div>
      <p></p>
      <div class="right_footer_bottom">
        <ul>
          <li>
            <a href="#"><img src="img/iconmonstr-instagram-11-24.png" alt="inst" /></a>
          </li>
          <li>
            <a href="#"><img src="img/iconmonstr-facebook-1-24.png" alt="fb" /></a>
          </li>
          <li>
            <a href="#"><img src="img/iconmonstr-twitter-1-24.png" alt="tw" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
