@import url(common/reset.css);

.middle_container {
  width: 100%;
  margin: 0 auto;
}

.middle_container > ul {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 400px;
  margin: 40px auto;
}

.middle_container > ul > li {
  /* text-align: center; */
  position: relative;
  width: 50%;
}

.middle_container > ul > li:nth-child(1) {
  border-radius: 20px 0 0 20px;
  background: url(../img/night_sub1.png) no-repeat 50% / cover;
  box-sizing: border-box;
  transition: all 1s;
}

.middle_container > ul > li:nth-child(1):hover {
  background: url(../img/night_sub1_hover.jpg) no-repeat 50% / cover;
  transform: translateY(-20px);
}

.middle_container > ul > li:nth-child(2) {
  background: url(../img/night_sub2.png) no-repeat 50% / cover;
  box-sizing: border-box;
  transition: all 1s;
}

.middle_container > ul > li:nth-child(2):hover {
  background: url(../img/night_sub2_hover.jpg) no-repeat 50% / cover;
  transform: translateY(-20px);
}

.middle_container > ul > li:nth-child(3) {
  background: url(../img/night-sub3.png) no-repeat 50% / cover;
  box-sizing: border-box;
  transition: all 1s;
}

.middle_container > ul > li:nth-child(3):hover {
  background: url(../img/night-sub3_hover.jpg) no-repeat 50% / cover;
  transform: translateY(-20px);
}

.middle_container > ul > li:nth-child(4) {
  border-radius: 0 20px 20px 0;
  background: url(../img/night-sub4.png) no-repeat 50% / cover;
  box-sizing: border-box;
  transition: all 1s;
}

.middle_container > ul > li:nth-child(4):hover {
  background: url(../img/night-sub4_hover.jpg) no-repeat 50% / cover;
  transform: translateY(-20px);
}

.middle_container > ul > li > a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  transform: translate(-50%);
}

@media (max-width: 1700px) {
  .middle_container > ul > li > a {
    font-size: 25px;
  }
}

@media (max-width: 1440px) {
  .middle_container > ul > li > a {
    font-size: 20px;
  }
  .middle_container > ul {
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .middle_container > ul {
    display: flex;
    width: 97%;
    flex-wrap: wrap;
  }

  .middle_container > ul > li {
    width: 48.7%;
    margin: 0 5px 5px 0;
    border-radius: 20px;
  }
  .middle_container > ul > li:nth-child(1) {
    border-radius: 20px;
  }
  .middle_container > ul > li:nth-child(4) {
    border-radius: 20px;
  }
}

@media (max-width: 760px) {
  .middle_container {
    width: 95%;
  }
  .middle_container > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .middle_container > ul > li {
    width: 48%;
    margin: 0 5px 5px 0;
    border-radius: 20px;
  }
}
