/* background-color: #dfdfd3d5;
color: #94af76; */
.lsu {
  padding: 0 20px;
  box-sizing: border-box;
}
.light-signUp--wrap {
  width: 700px;
  margin: 50px auto;
  padding: 20px 50px;
  background-color: #fefefe;
  box-sizing: border-box;
}
.light-signUp--wrap > h1 {
  padding-left: 10px;
  color: #333;
}
.light-signUp--wrap > p {
  margin-bottom: 40px;
  font-size: 14px;
  color: #333;
}
.light-signUp--wrap > p > span {
  color: rgb(204, 48, 48);
}

.light-signUp--wrap > div {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
}

.light-signUp--wrap > div > label > span {
  color: rgb(204, 48, 48);
}
.light-signUp--wrap > div > label {
  color: #333;
}
.light-signUp--wrap > div > input {
  margin: 10px 0;
  padding: 10px 10px;
  border: 1px solid #949494;
  background-color: transparent;
  color: #333;
  box-sizing: border-box;
}
.light-signUp--wrap > div > input::placeholder {
  color: #a0a0a0;
}

.email__wrap > input {
  width: 31%;
  margin: 10px 0;
  padding: 10px 10px;
  border: 1px solid #949494;
  background-color: transparent;
  color: #d9d9d9;
  box-sizing: border-box;
}
.email__wrap > span {
  margin: 0 5px;
  color: #333;
}
.email__wrap > input::placeholder {
  color: #a0a0a0;
}

#signin {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  padding: 20px 100px;
  border: 1px solid #94af76;
  background-color: #fefefe;
  color: #94af76;
  box-sizing: border-box;
}

select.box {
  width: 105px;
  height: 41px;
  margin-left: 5px;
  padding: 5px 0 5px 10px;
  border: 1px solid #949494;
  background-color: #fefefe;
  font-family: 'Montserrat', 'Pretendard', sans-serif;
  color: #333;
  box-sizing: border-box;
}

option {
  font-size: 16px;
  text-align: center;
}
#domain-txt {
  color: #a0a0a0;
}

.info .box#domain-list option {
  background-color: #ffffff;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 750px) {
  .light-signUp--wrap {
    width: 100%;
  }
  .form__wrap {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .email__wrap > input {
    width: 44.5%;
  }
  select.box {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 610px) {
  .light-signUp--wrap > div {
    display: flex;
    flex-direction: column;
    width: 86%;
    margin: 0 auto;
  }
}

input {
  outline: none;
}
