.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 468px;
  margin: 100px auto;
  padding: 100px 20px;
  border-radius: 20px;
  background-color: #dfdfd3d5;
  box-sizing: border-box;
}

.top_signUp {
  width: 100%;
}

.top_signUp > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.top_signUp > ul > div > li {
  padding: 10px 0 0 10px;
  color: #94af76;
}

.top_signUp > h2 {
  padding: 10px;
  color: #94af76;
  text-align: center;
}

.top_signUp > ul > div > li {
  font-size: 12px;
}

.top_signUp > ul > div > li:nth-child(9) {
  position: relative;
  top: 10px;
  left: 0px;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #94af76;
  font-size: 18px;
  text-align: center;
}

.top_signUp > ul > div > li:nth-child(9) > a {
  position: relative;
  right: 5px;
  bottom: 4px;
  font-size: 18px;
  color: #ffffff;
}

.top_signUp > ul > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#GOLOGIN {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px auto 0 auto;
  padding: 10px 0;
  background-color: #94af76;
  color: #bbb;
  text-align: center;
  box-sizing: border-box;
}

input {
  border: none;
}
