.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 468px;
  margin: 100px auto;
  padding: 100px 20px;
  border-radius: 20px;
  background-color: #94af76;
  box-sizing: border-box;
}

/* .top_signin {
} */

.top_signin > h2 {
  padding: 10px;
  color: #ffffff;
  text-align: center;
}

.top_signin > form > ul {
  padding: 10px;
}

.top_signin > form > ul > div > li:nth-child(1) {
  font-size: 12px;
  color: #ffffff;
}

.top_signin > form > ul > div > li:nth-child(2) {
  padding: 7px 0;
}

.top_signin > form > ul > div > li:nth-child(3) {
  padding: 7px 0;
  font-size: 12px;
  color: #ffffff;
}

.top_signin > form > ul > div > li:nth-child(4) {
  font-size: 12px;
}

.top_signin > form > ul > div > li:nth-child(5) {
  margin: 12px 0 10px 0;
  border-radius: 20px;
  background-color: #94af76;
  font-size: 12px;
  text-align: center;
}

.top_signin > form > ul > div > li:nth-child(6) {
  border-radius: 20px;
  background-color: #94af76;
  font-size: 12px;
  text-align: center;
}

form {
  width: 100%;
}
form > ul {
  display: flex;
  flex-direction: column;
}

.id {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.pw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

form > ul > div > li > input {
  margin-left: 20px;
}

#GOLOGIN {
  margin-top: 40px;
  padding: 10px 0;
  border: none;
  background-color: #fff;
  color: #94af76;
  box-sizing: border-box;
}

.goSignIn {
  margin-top: 10px;
  padding: 10px 0;

  background-color: #fff;
  font-size: 14px;
  color: #94af76;
  box-sizing: border-box;
}
.goSignIn > a {
  display: block;
  color: #94af76;
  text-align: center;
}

input {
  outline: none;
}
