@import url(common/reset.css);
@import url(light_header.css);
@import url(light_top_container.css);
@import url(light_middle_container.css);
@import url(light_bottom_container.css);
@import url(light_notice.css);
@import url(light_gallery.css);
@import url(light_footer.css);
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #bbb;
  }
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}
