@import url(common/reset.css);

table,
th,
td {
  padding-left: 7px;
  border-collapse: collapse;
  box-sizing: border-box;
}

.left_con > table > thead > tr > th {
  font-size: 30px;
  color: #94af76;
}

.left_con > table > tbody > tr > td {
  margin-right: 50px;
  padding: 10px 0;
  font-size: 13px;
  color: #94af76;
  box-sizing: border-box;
}
.left_con > table > tbody > tr > td:nth-child(2) {
  text-align: center;
}
.left_con > table > tbody > tr > td > a {
  font-weight: 500;
  color: #94af76;
}

.left_con {
  display: flex;
}
.left_con > table {
  width: 100%;
}
.left_con > table > tbody {
  margin-top: 40px;
}

@media (max-width: 947px) {
  .left_con > table > tbody > tr > td {
    margin-right: 10px;
  }
}
@media (max-width: 450px) {
  .left_con > table > tbody > tr > td > a {
    font-size: 13px;
  }
}
