@import url(common/reset.css);
@import url(light_header.css);
@import url(light_footer.css);

.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
  width: 25%;
  height: 360px;
  /* margin: 100px; */
  /* margin: 0 auto; */
  /* margin-bottom: 100px; */
  margin-bottom: 440px;
  border-radius: 20px;
  background-color: #dfdfd3d5;
}

.top_signin {
  height: 250px;
}

.top_signin > h2 {
  padding: 10px;
  color: #94af76;
  text-align: center;
  box-sizing: border-box;
}

.top_signin > ul {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.top_signin > ul > li:nth-child(1) {
  font-size: 12px;
}

.top_signin > ul > li:nth-child(2) {
  padding: 7px 0;
  box-sizing: border-box;
}

.top_signin > ul > li:nth-child(3) {
  padding: 7px 0;
  font-size: 12px;
  box-sizing: border-box;
}

.top_signin > ul > li:nth-child(4) {
  font-size: 12px;
}

.top_signin > ul > li:nth-child(5) {
  margin: 12px 0 10px 0;
  border-radius: 20px;
  background-color: #94af76;
  font-size: 12px;
  text-align: center;
}

.top_signin > ul > li:nth-child(6) {
  border-radius: 20px;
  background-color: #94af76;
  font-size: 12px;
  text-align: center;
}

.top_signin > ul > li:nth-child(5) > a {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.top_signin > ul > li:nth-child(6) > a {
  font-size: 20px;
  color: #ffffff;
}

@import url(night_footer.css);
