@import url(common/reset.css);

html {
  background-color: #424242;
}

/*헤더*/
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  background-color: #424242;
}

/*탑 헤더*/
.top_header {
  display: flex;
  justify-content: flex-end;
  width: 1440px;
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
  background-color: #1b1b1b;
}

.m_top_header {
  display: none;
}

.top_header > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  padding: 0.5%;
  box-sizing: border-box;
}

.top_header > ul li {
  padding: 0 5%;
  box-sizing: border-box;
}

.top_header > ul > li > a > img {
  display: block;
}

.top_header > ul > li > a:nth-child(1) {
  font-size: 12px;
  color: #ffffff;
}

/*바텀 헤더*/
.bottom_header {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: auto;
  margin: 0 auto;
  background-color: #424242;
}

.bottom_inr_header {
  width: 100%;
  height: auto;
  background-color: #424242;
}

.bottom_inr_header ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bottom_inr_header > ul > li {
  margin: 5px;
}

.bottom_inr_header > ul > li > a {
  color: #424242;
  color: #ffffff;
  text-align: center;
}
.m_thema {
  display: none;
}
@media (max-width: 1440px) {
  .top_header {
    width: 100%;
  }
  .bottom_header {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  body {
    min-width: 480px;
  }
  .m_top_wrap {
    height: 70px;
    min-height: 60px;
    margin-bottom: 20px;
  }
  .bottom_header {
    display: none;
  }
  .top_header > ul {
    display: none;
  }

  .m_top_wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: #1b1b1b;
    box-sizing: border-box;
  }

  .m_top_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .m_top_header > aside > a {
    font-size: 25px;
    font-weight: 900;
  }
  .m_top_header > aside,
  a {
    color: #fff;
  }

  .m_top_headerMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
  }

  .sidebar {
    width: 50%;
    height: auto;
    /* border: 1px solid #fff; */
  }
  .sidebar > ul {
    height: auto;
    margin-left: 15px;
  }
  .sidebar > ul > li {
    width: 20px;
    height: 2px;
    margin: 10px 0;
    background-color: #fff;
  }
  .sidebar > ul > li:nth-child(2) {
    width: 35px;
  }

  .m_thema {
    display: block;
    position: fixed;
    top: 830px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 43px;
    text-align: center;
    box-sizing: border-box;
  }
}
